@import "./prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Skrapbook";
	src: url("/fonts/skrapbook.ttf");
}

html {
	@apply scroll-smooth;

	::-webkit-scrollbar {
		@apply w-4;
	}

	::-webkit-scrollbar-track {
		@apply bg-dblue;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-mint border-solid border-2 border-black;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-salmon transition-all duration-300;
	}
}

.lemon {
	@apply bg-repeat w-screen h-screen fixed z-[-1] opacity-25 pointer-events-none;
	background-image: url("/lemon.png");
	background-size: 15%;
}

body {
	@apply bg-bblue overflow-x-hidden;
}

h2 {
	@apply font-skrap mb-12 md:text-7xl text-5xl text-black uppercase;
}

h3 {
	@apply font-skrap mb-2 md:text-5xl text-4xl text-black uppercase;
}

p {
	@apply max-w-[75ch] mb-4 last:mb-0 font-mont font-semibold text-lg text-black;
}

.flex-center {
	@apply flex justify-center items-center;
}

.shadow {
	@apply absolute z-0 transition-all duration-300 top-[0.35em] rounded-xl left-0 w-full h-full border-solid border-2 border-black;
}

.img img {
	@apply rounded-3xl border-solid border-black border-4 !important;
}

.nav-link {
	@apply text-black hover:text-mint transition-all duration-300 uppercase font-skrap lg:text-2xl text-xl;
}

.social svg {
	@apply stroke-black;
	stroke-width: 1.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.outline-text {
	@apply font-normal md:text-5xl text-4xl mb-0 text-center;
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
		-1px 1px 0 #000, 1px 1px 0 #000;
}
